<launch>

  <arg name="config_file" default="$(find dui_vio)/../config/struct_core_v2.yaml"/>

  <node pkg="dui_vio" type="dui_vio_syn_node" name="dui_vio_syn_node" output="screen" args="$(arg config_file)">
    <param name="config_file" type="string" value="$(arg config_file)"/>
  </node>

  <node pkg="dui_vio" type="feature_tracker_node" name="feature_tracker" output="screen">
  	<param name="config_file" type="string" value="$(arg config_file)"/>
  	<param name="nG_norm" type="double" value="-9.81"/>
  	<param name="use_gmm" type="bool" value="true"/>
  	<param name="use_gmm_ext" type="bool" value="false"/>
  </node> 

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find dui_vio)/../config/rviz_config_init.rviz"/>
  
</launch>