<launch>

  <arg name="config_file" default="$(find dui_vio)/../config/struct_core_v2.yaml"/>

  <node pkg="dui_vio" type="feature_tracker_node" name="feature_tracker_node" output="screen">
  	<param name="config_file" type="string" value="$(arg config_file)"/>
  </node>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find dui_vio)/../config/rviz_config_init.rviz"/>
  
</launch>